<html>
<head>
    <meta charset="UTF-8">
</head>
<script src="/static/jquery.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
<link rel="stylesheet" href="/static/bootstrap.min.css">
<script src="/static/popper.min.js"></script>
<body>
<div class="container">
    <h2>SHOW TABLE</h2>
    <select class="combobox" id="selectLob">
        <option></option>
        <option value="BC_SET_FORCE_IMG">BC_SET_FORCE_IMG</option>

    </select>
    <select class="combobox" id="select1911">
        <option></option>
        <option value="To be solved by Central BC">To be solved by Central BC</option>

    </select>
    <button type="button" class="btn btn-success" onclick="selectoption()">Execute</button>
    <table class="table">
        <thead id="columns">
        </thead>
        <tbody id="list">
        </tbody>
    </table>
</div>
<script>
    function doajaxlist() {
        $.ajax({
            url: "/report/CustomizingObjects/Alllist",//请求地址
            contentType: "application/json;charset=UTF-8",
            data: {},
            type: "get",//提交的方式
            dataType: 'json', //返回类型 TEXT字符串 JSON XML
            success: function (data) {   // 这里的data就是json格式的数据
                console.log(data.data);
                for (var key in data.data){
                    var datahtml = " <tr onclick='on(this)' id='" +data.data[key][1]+
                        "'>\n";
                    for (var i=0; i<data.data[key].length; i++)
                    {
                        datahtml +=
                            "<td>" +data.data[key][i] +
                            "</td>\n";
                    }
                    datahtml +=   "        </tr>";
                    $('#list').append(datahtml);
                }
            }
        });
        $.ajax({
            url: "/report/CustomizingObjects/AlllistColumns",//请求地址
            contentType: "application/json;charset=UTF-8",
            data: {},
            type: "get",//提交的方式
            dataType: 'json', //返回类型 TEXT字符串 JSON XML
            success: function (data) {   // 这里的data就是json格式的数据
                let datahtml = "<tr>";
                for (let key in data.data)
                {
                    datahtml +=
                        "<td>" +data.data[key] +
                        "</td>\n";
                }
                datahtml += "</tr>";
                $('#columns').append(datahtml);
            }
        });
    }
    function on(data) {
        window.location.href = "/report/Detail/tableShow?id="+data.id;
    }
    function selectoption(data) {
        var selectLob = $("#selectLob").val();
        var select1911 = $("#select1911").val();
        $.ajax({
            url: "/report/BCSet/getBoth?selectLob="+selectLob+"&select1911="+select1911,//请求地址
            contentType: "application/json;charset=UTF-8",
            data: {},
            type: "get",//提交的方式
            dataType: 'json', //返回类型 TEXT字符串 JSON XML
            success: function (data) {
                var datahtml = "";
                for (var key in data){
                    var datahtml = " <tr onclick='on(this)' id='" +data.data[key][0]+
                        "'>\n" +
                        "            <td>" +data.data[key][0] +
                        "</td>\n" +
                        "            <td>" +data.data[key][1] +
                        "</td>\n" +
                        "            <td>" +data.data[key][2] +
                        "</td>\n" +
                        "            <td>" +data.data[key][3] +
                        "</td>\n" +
                        "        </tr>";
                    $('#list').append(datahtml);
                }
                document.getElementById("list").innerHTML = datahtml;
            }
        })
    }

    doajaxlist();

</script>
</body>

</html>