<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="../static/echarts.min.js"></script>
<script src="../static/jquery-3.4.1.min.js"></script>
<script src="../static/bootstrap.min.js"></script>
<link rel="stylesheet" href="../static/bootstrap.min.css">
<script src="../static/popper.min.js"></script>
<script>
    function doajaxlob() {
        $.ajax({
                url: "/report/getPercentbyLob",//请求地址
                contentType: "application/json;charset=UTF-8",
                data: {},
                type: "get",//提交的方式
                dataType: 'json', //返回类型 TEXT字符串 JSON XML
    success: function(data) {   // 这里的data就是json格式的数据
        var nums = new Array();
        var sum = 0;
        for(var i=0; i<6; i++){
            nums[i] = data.data[i].num;
            sum += data.data[i].num;
        }
        var dom = document.getElementById("container_left");
        var myChart = echarts.init(dom);
        var app = {};
        option = null;
        app.title = '环形图';
        option = {
            tooltip: {
                trigger: 'item',
                formatter: "{a} <br/>{b}: {c} ({d}%)"
            },
            legend: {
                bottom:0,
                left:'0%',
                itemWidth:20,
                itemHeight:20,
                data:['Scheduled for CE 1908','Scheduled for CE 1911'
                    ,'Object obsolete','To be solved by Central BC',
                    'Can currently be ignored',"In clarification"],
                orient: 'vertical'
            },
            series: [
                {
                    name:'detail',
                    type:'pie',
                    selectedMode: 'single',
                    center: ['50%', '35%'],
                    radius: [0, '20%'],

                    label: {
                        normal: {
                            position: 'inner'
                        }
                    },
                    labelLine: {
                        normal: {
                            show: false
                        }
                    },
                    data:[
                        {value:sum, name:sum, selected:true}
                    ]
                },
                {
                    name:'detail',
                    type:'pie',
                    radius: ['40%', '55%'],
                    center: ['50%', '35%'],
                    label: {
                        normal: {
                            formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                            backgroundColor: '#eee',
                            borderColor: '#aaa',
                            borderWidth: 1,
                            borderRadius: 4,
                            rich: {
                                a: {
                                    color: '#999',
                                    lineHeight: 8,
                                    align: 'center'
                                },
                                hr: {
                                    borderColor: '#aaa',
                                    width: '100%',
                                    borderWidth: 0.5,
                                    height: 0
                                },
                                b: {
                                    fontSize: 8,
                                    lineHeight: 10
                                },
                                per: {
                                    color: '#eee',
                                    backgroundColor: '#334455',
                                    padding: [2, 4],
                                    borderRadius: 2
                                }
                            }
                        }
                    },
                    data:[
                        {value:nums[0], name:'Scheduled for CE 1908'},
                        {value:nums[1], name:'Scheduled for CE 1911'},
                        {value:nums[2], name:'Object obsolete'},
                        {value:nums[3], name:'To be solved by Central BC'},
                        {value:nums[4], name:'Can currently be ignored'},
                        {value:nums[5], name:'In clarification'}
                    ]
                }
            ]
        };
        var myChart = echarts.init(document.getElementById('container_left'));
        myChart.setOption(option);
        myChart.on('click', function (params) {
            console.log(params.name);
        });
        if (option && typeof option === "object") {
            myChart.setOption(option, true);
        }
    }
    });
    }

    doajaxlob();
    function doajaxclass() {
        $.ajax({
            url: "/report/getPercentbyClass",//请求地址
            contentType: "application/json;charset=UTF-8",
            data: {},
            type: "get",//提交的方式
            dataType: 'json', //返回类型 TEXT字符串 JSON XML
            success: function (data) {   // 这里的data就是json格式的数据
                var nums = new Array();
                var sum = 0;
                for(var i=0; i<4; i++){
                    nums[i] = data.data[i].num;
                    sum += data.data[i].num;
                }
                var dom = document.getElementById("container_right");
                var myChart = echarts.init(dom);
                var app = {};
                option = null;
                app.title = '环形图';
                option = {
                    tooltip: {
                        trigger: 'item',
                        formatter: "{a} <br/>{b}: {c} ({d}%)"
                    },
                    legend: {
                        bottom:0,
                        left:'0%',
                        itemWidth:20,
                        itemHeight:20,
                        data:['ECATT_MIGRATION_TO_RC','ECATT_NO_MIGRATION','ECATT_FORCE_IMG','ECATT_MULT_TYPE'],
                        orient: 'vertical'
                    },
                    series: [
                        {
                            name:'detail',
                            type:'pie',
                            selectedMode: 'single',
                            center: ['50%', '35%'],
                            radius: [0, '20%'],

                            label: {
                                normal: {
                                    position: 'inner'
                                }
                            },
                            labelLine: {
                                normal: {
                                    show: false
                                }
                            },
                            data:[
                                {value:sum, name:sum, selected:true}
                            ]
                        },
                        {
                            name:'detail',
                            type:'pie',
                            radius: ['40%', '55%'],
                            center: ['50%', '35%'],
                            label: {
                                normal: {
                                    formatter: '{a|{a}}{abg|}\n{hr|}\n  {b|{b}：}{c}  {per|{d}%}  ',
                                    backgroundColor: '#eee',
                                    borderColor: '#aaa',
                                    borderWidth: 1,
                                    borderRadius: 4,
                                    rich: {
                                        a: {
                                            color: '#999',
                                            lineHeight: 8,
                                            align: 'center'
                                        },
                                        hr: {
                                            borderColor: '#aaa',
                                            width: '100%',
                                            borderWidth: 0.5,
                                            height: 0
                                        },
                                        b: {
                                            fontSize: 8,
                                            lineHeight: 10
                                        },
                                        per: {
                                            color: '#eee',
                                            backgroundColor: '#334455',
                                            padding: [2, 4],
                                            borderRadius: 2
                                        }
                                    }
                                }
                            },
                            data:[
                                {value:nums[0], name:'ECATT_MIGRATION_TO_RC'},
                                {value:nums[1], name:'ECATT_NO_MIGRATION'},
                                {value:nums[2], name:'ECATT_FORCE_IMG'},
                                {value:nums[3], name:'ECATT_MULT_TYPE'}
                            ]
                        }
                    ]
                };
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
                var myChart = echarts.init(document.getElementById('container_right'));
                myChart.setOption(option);
                myChart.on('click', function (params) {
                    console.log(params.name);
                });
                if (option && typeof option === "object") {
                    myChart.setOption(option, true);
                }
            }
        });
    }
            doajaxclass();
</script>
<style>
    .mian{
        display: flex;
        justify-content: space-around;
        margin-top: 10vh;
    }
    #container_left{
        width: 49%;
        height: 55vh;
        border: 1px solid black;
    }
    #container_right{
        width: 49%;
        height: 55vh;
        border: 1px solid black;

    }
</style>
<body style="width: 100%; margin: 0">
<button id="fat-btn1" class="btn btn-primary" data-loading-text="Loading..."
        type="button"> Show Table
</button>
<script>
    $(function() {
        $("#fat-btn1").click(function(){
            $(this).button('loading').delay(1000).queue(function() {
                window.location.href = "/report/Class";
            });
        });
    });
</script>
    <div class="mian">
        <div id="container_left">
        </div>
        <div id="container_right"></div>
    </div>
</body>
</html>